#### List of integers with exactly two occurrences of nineteen and at least three occurrences of five
Input:
[19, 19, 15, 5, 3, 5, 5, 2]
Output:
True

In [2]:
arr =  [19, 19, 15, 5, 3, 5, 5, 2]
if arr.count(19) == 2 and arr.count(5) >= 3:
    print(True)
else:
    print(False)

True

#### Write a Python program that accept a list of integers and check the length and the fifth element. Return true if the length of the list is 8 and fifth element occurs thrice in the said list
Input:
[19, 19, 15, 5, 5, 5, 1, 2]

Output:
True

In [4]:
arr = [19, 19, 15, 5, 5, 5, 1, 2]
if len(arr) == 8 and arr.count(arr[4]) == 3:
    print(True)
else:
    print(False)

True

#### Sum list

In [5]:
arr = [1, 3 ,4 ,5 ,6]
print(sum(arr))

19

#### mul

In [9]:
def multiplyList(myList):
 
    # Multiply elements one by one
    result = 1
    for x in myList:
        result = result * x
    return result

print(multiplyList([1, 2, 3, 4, 5]))

120

In [11]:
arr = [1, 2, -8, 0]
print(max(arr))
print(min(arr))

2
-8

#### Sort list tuple

In [12]:
arr = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print(sorted(arr, key = lambda x: x[1]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

#### Remove duplicate out list

In [13]:
mylist = [10,20,30,20,10,50,60,40,80,50,40]
mylist = list(dict.fromkeys(mylist))
print(mylist)

[10, 20, 30, 50, 60, 40, 80]

#### Check list empty

In [16]:
l = []
if not l: 
    print("List is empty")
else:
    print("List is not empty")
    
if len(l) == 0:
    print("List is empty")
else:
    print("List is not empty")

List is empty
List is empty

#### Clone of copy list

In [20]:
arr = [10, 22, 44, 23, 4]
arr2 = list(arr)
print(arr2)
if arr == arr2:
    print("Equal")

[10, 22, 44, 23, 4]
Equal

####  find the list of words that are longer than n from a given list of words.

In [21]:
def long_words(n, str):
    word_len = []
    str_arr = str.split(" ")
    
    for x in str_arr:
        if len(x) > n:
            word_len.append(x)
    return word_len

print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

####  find commons in two lists

In [32]:
list1 = [1, 2, 1, 2, 3, 31]
list2 = [1, 3, 3]

list1_as_set = set(list1)
intersection = list1_as_set.intersection(list2)
common_list = list(intersection)

if len(common_list) > 0:
    print("two list have element common")
else:
    print("two list have not element common")

def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

two list have element common
True
None

#### Print a list after removing specified elements

In [33]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

#### print number after remove even numbers

In [36]:
arr = [7,8, 120, 25, 44, 20, 27]
arr = [x for x in arr if x%2!=0]
print(arr)

[7, 25, 27]

#### Create a list by concatenating a given list which range goes from 1 to n

In [43]:
my_list = ['p', 'q']
n = 4 
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4']

In [2]:
arr = [11, 33, 40]
x = int("".join(map(str,arr)))
string = ""
for i in arr:
    string += str(i)

print(string)

113340

### Tuple

In [4]:
# Create tuple 
x = ()
print(x)
x

()

()

In [6]:
# Unpack a tuple
tuplex = 4, 8, 3

print(tuplex)

n1, n2, n3 = tuplex

print(n1, n2, n3)

(4, 8, 3)
4 8 3

In [12]:
tuplex = (4, 6, 2, 8, 3, 1)
print(tuplex)

tuplex = tuplex + (9,)
print(tuplex)
arr = list(tuplex)
arr.append(2909)
tuplex = tuple(arr)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 1, 9, 2909)

In [11]:
tuplex = (4, 6, 2, 8, 3, 1)

(4, 6, 2, 8, 3)

In [13]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

In [14]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

True
False

In [15]:
listx = [1,2,2,2,2]
listx.remove(2)
print(listx)

[1, 2, 2, 2]

In [26]:
l = [(10, 20, 30), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [27]:
nums = (4, 3, 2, 2, -1, 18)
sum_tup = sum(list(nums))
print(sum_tup)

28

In [28]:
nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
list_tup = list(nums)
avg_list = []
for x in list_tup:
    avg_list.append(sum(list(x)) / len(list(x)))

print(avg_list)

[10.5, 44.0, 58.0, 2.5]

In [30]:
tuple_str =  (('333', '33'), ('1416', '55'))
print(tuple((int(x[0]), int(x[1])) for x in tuple_str))

((333, 33), (1416, 55))

In [36]:
nums = (1,2,3)
print(int(''.join(map(str, nums))))

TypeError: 'str' object is not callable

In [41]:
colors = (
    ('Red', 'White', 'Blue'),
    ('Green', 'Pink', 'Purple'),
    ('Orange', 'Yellow', 'Lime'),
)

c1 = 'White'
print((c1 in tu for tu in colors))

<generator object <genexpr> at 0x000002165DFF50E0>

In [44]:
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)

print(tuple(zip(x, y, z)))

((1, 3, 2), (2, 5, 2), (3, 2, 3), (4, 1, 1))

In [50]:
tuples = [(1,2), (2,3), (3,4)]
print(list(map(sum, tuples)))

print(list(sum(x) for x in tuples))

[3, 5, 7]
[3, 5, 7]

In [57]:
lst_tuples = [(1,2), (2,3), (3,4)]
print([*map(list, lst_tuples)])

TypeError: 'map' object is not callable

In [4]:
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print(d)
sorded_d = dict(sorted(d.items(), key=lambda item:item[1], reverse=True))
print(sorded_d)

{1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
{3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

#### check key in dict

In [7]:
def is_key_present(x):
    if x in d:
        print("Key is present in the dictionary")
    else:
        print("Key isn't present in the dictionary")

is_key_present(5)
is_key_present(9)

Key isn't present in the dictionary
Key isn't present in the dictionary

In [8]:
d = {'x': 10, 'y': 20, 'z': 30} 
for dict_key, dict_value in d.items():
    print(dict_key,'->',dict_value)

x -> 10
y -> 20
z -> 30

#### Merge two dictionary

In [9]:
d1 = {'a':100, 'b':200}
d2 = {'c':300, 'd':500}

d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'c': 300, 'd': 500}

In [10]:
mydict = {'data1':100, "data2":200}
print(sum(mydict.values()))

300

In [15]:
result = 1
for key in mydict:
    result = result * mydict[key]

print(result)

result2 = 1
for _, y in mydict.items():
    result2 = result2 * y

print(result2)

20000
20000

#### Map two lists into a dictionatry

In [16]:
keys = ["red", "green", "blue"]
values = ["#FF0000", "#008000", "#0000FF"]

color_dictionary = dict(zip(keys, values))
print(color_dictionary)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [17]:
myDict = {'a':1, 'b':2, 'c':3, 'd':4}

print(myDict)
if 'a' in myDict:
    del myDict['a']

print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [20]:
a = set()
n = set([1, 2, 3, 4, 5, 6, 6])
print(n)
n.add("hello")
print(n)
n.update([10, 20, 30, 99])
print(n)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 'hello'}
{1, 2, 3, 4, 5, 6, 'hello', 99, 10, 20, 30}

In [ ]:
num_set = set([0, 1, 3, 4, 5])
print(num_set.pop())

In [23]:
num_set = set([0, 1, 2, 3, 10, 5])
print("Original set elements:")
print(num_set)
print("\nRemove 0 from the said set:")
num_set.discard(4)
print(num_set)

Original set elements:
{0, 1, 2, 3, 5, 10}

Remove 0 from the said set:
{0, 1, 2, 3, 5, 10}

In [24]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
setc = setc1.union(setc2)
print(setc)

{'blue', 'yellow', 'green'}